.input {
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    border: 1px solid #CECECE;
}
.btn {
    padding: 10px 20px;
    color: white;
    background-color: indigo;
    border: none;
    border-radius: 5px;
    margin: 5px;
}
.btn-prime {
    
}