body {
    /* dark purple */
    /* background-color: #322843; */
    /* dark blue */
    /* background-color: #071C2D; */
    /* background-color: #17222b; */
    background-color: #D3D3DF;
    margin: 0;
    height: 100vh;
}
.input {
    border-radius: 10px;
    padding: 8px 12px;
    margin: 5px 0;
    border: 1px solid #CECECE;
    min-width: 225px;
}
.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    font-size: 12pt;
}
